@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SA_Authorization.Roles.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new IS4_Admin.SA_Authorization.RolesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>